as_number: {{ l3vpn_asn | int }}
bgp_params:
{% if l3vpn_router_id %}
  router_id: {{ l3vpn_router_id | to_json }}
{% endif %}
{% if l3vpn_cluster_id %}
  cluster_id: {{ l3vpn_cluster_id | to_json }}
{% endif %}
