{% set b = _ipsec_route_based_bgp %}
as_number: {{ b.asn | int }}
{% if b.networks | default([]) %}
address_family:
  - afi: ipv4
    networks:
{%   for n in b.networks %}
      - prefix: {{ n | to_json }}
{%   endfor %}
{% endif %}
{% set per_nbr = b.neighbors | selectattr('address', 'defined') | list %}
{% set tuned = [] %}
{% for n in per_nbr if (n.soft_reconfiguration_inbound | default(false) | bool) or n.route_map_import is defined or n.route_map_export is defined %}
{%   set _ = tuned.append(n) %}
{% endfor %}
{% if tuned %}
neighbors:
{%   for n in tuned %}
  - neighbor_address: {{ n.address | to_json }}
    address_family:
      - afi: ipv4
{%     if n.route_map_import is defined or n.route_map_export is defined %}
        route_map:
{%       if n.route_map_import is defined %}
          - {action: import, route_map: {{ n.route_map_import | to_json }}}
{%       endif %}
{%       if n.route_map_export is defined %}
          - {action: export, route_map: {{ n.route_map_export | to_json }}}
{%       endif %}
{%     endif %}
{%     if n.soft_reconfiguration_inbound | default(false) | bool %}
        soft_reconfiguration: true
{%     endif %}
{%   endfor %}
{% endif %}
